.btn-primary {
    -fx-background-color: #440E0E;
    -fx-background-radius: 50;
    -fx-fill: #440E0E;
}
.bg-primary {
    -fx-background-color:  #6FB06E;
}

.bg-primary-dark {
    -fx-background-color:  #6FB06E;
}